* {text-align: center;
}

.banner-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;

}


.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover; 
}


.resource {
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(147, 241, 154, 0.061);
  margin: 5px 10px 5px 10px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
 padding-top: 0.25em;
 padding-bottom: 0.25em;
 width: 50%;
 display: inline-block;
 text: darkblue;
}

.resource hover{
background-color: aliceblue;
}
